body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("/img/giphy.gif");
    color: #333;
    margin: 0;
    padding: 0;
  }
 
  .container {
    margin-top: 50px;
  }
 
  h1 {
    color: #ff74b5;
  }
 
  p {
    font-size: 18px;
  }
 
  button {
    background-color: #ff74b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
 
  button:hover {
    background-color: #005fa3;
  }